In [2]:
import pandas as pd
import numpy as np
import os

## Song release data from Songfacts.com

In [113]:
path_sf = 'song_release/'

year = [str(i) for i in range(2012, 2022)]

# Concat the dataframe of song release in each year
df_sf = pd.read_csv(path_sf + year[0] + '.csv', index_col=False, names=['title', 'artist'])

for i in year[1:]:
    df_sf = pd.concat([df_sf,
                  pd.read_csv(path_sf + i + '.csv', index_col=False, names=['title', 'artist'])],
                  ignore_index=True)

df_sf

                                 title             artist
0             (I Called Her) Tennessee         Tim Dugger
1      10,000 Reasons (Bless the Lord)        Matt Redman
2                            100 Proof     Kellie Pickler
3                                  101        Alicia Keys
4                                 110%        Jessie Ware
...                                ...                ...
20032                  You're To Blame        Mammoth WVH
20033       Young, Black And Beautiful       Chris Pierce
20034                       Younger Me   Brothers Osborne
20035                       Your Power      Billie Eilish
20036                    Zitti E Buoni           Måneskin

[20037 rows x 2 columns]

In [156]:
# Strip whitespaces
df_sf['title'] = df_sf['title'].str.strip()
df_sf['artist'] = df_sf['artist'].str.strip()

In [157]:
# Output the dataframe as a csv file
#df_sf.to_csv('song_release_2012_20210925.csv', index=False)

## Billboard Hot 100 charts from Billboard.com

In [103]:
path_b = 'billboard_data/'
file = os.listdir(path_b)
# Select month-end billboard from 2012 to 2021
file_name = sorted([f for f in file if f[:4] in year])
file_name

['2012-02-04.csv',
 '2012-03-03.csv',
 '2012-03-31.csv',
 '2012-05-05.csv',
 '2012-06-02.csv',
 '2012-06-30.csv',
 '2012-08-04.csv',
 '2012-09-01.csv',
 '2012-10-06.csv',
 '2012-11-03.csv',
 '2012-12-01.csv',
 '2013-01-05.csv',
 '2013-02-02.csv',
 '2013-03-02.csv',
 '2013-04-06.csv',
 '2013-05-04.csv',
 '2013-06-01.csv',
 '2013-07-06.csv',
 '2013-08-03.csv',
 '2013-08-31.csv',
 '2013-10-05.csv',
 '2013-11-02.csv',
 '2013-11-30.csv',
 '2014-01-04.csv',
 '2014-02-01.csv',
 '2014-03-01.csv',
 '2014-04-05.csv',
 '2014-05-03.csv',
 '2014-05-31.csv',
 '2014-07-05.csv',
 '2014-08-02.csv',
 '2014-09-06.csv',
 '2014-10-04.csv',
 '2014-11-01.csv',
 '2014-12-06.csv',
 '2015-01-03.csv',
 '2015-01-31.csv',
 '2015-02-28.csv',
 '2015-04-04.csv',
 '2015-05-02.csv',
 '2015-06-06.csv',
 '2015-07-04.csv',
 '2015-08-01.csv',
 '2015-09-05.csv',
 '2015-10-03.csv',
 '2015-10-31.csv',
 '2015-12-05.csv',
 '2016-01-02.csv',
 '2016-02-06.csv',
 '2016-03-05.csv',
 '2016-04-02.csv',
 '2016-04-30.csv',
 '2016-06-04.csv',
 '2016-07-02.csv',
 '2016-08-06.csv',
 '2016-09-03.csv',
 '2016-10-01.csv',
 '2016-11-05.csv',
 '2016-12-03.csv',
 '2016-12-31.csv',
 '2017-02-04.csv',
 '2017-03-04.csv',
 '2017-04-01.csv',
 '2017-05-06.csv',
 '2017-06-03.csv',
 '2017-07-01.csv',
 '2017-08-05.csv',
 '2017-09-02.csv',
 '2017-09-30.csv',
 '2017-11-04.csv',
 '2017-12-02.csv',
 '2018-01-03.csv',
 '2018-02-03.csv',
 '2018-03-03.csv',
 '2018-03-31.csv',
 '2018-05-05.csv',
 '2018-06-02.csv',
 '2018-06-30.csv',
 '2018-08-04.csv',
 '2018-09-01.csv',
 '2018-10-06.csv',
 '2018-11-03.csv',
 '2018-12-01.csv',
 '2019-01-05.csv',
 '2019-02-02.csv',
 '2019-03-02.csv',
 '2019-04-06.csv',
 '2019-05-04.csv',
 '2019-06-01.csv',
 '2019-07-06.csv',
 '2019-08-03.csv',
 '2019-08-31.csv',
 '2019-10-05.csv',
 '2019-11-02.csv',
 '2019-11-30.csv',
 '2020-01-04.csv',
 '2020-02-01.csv',
 '2020-02-29.csv',
 '2020-04-04.csv',
 '2020-05-02.csv',
 '2020-06-06.csv',
 '2020-07-04.csv',
 '2020-08-01.csv',
 '2020-09-05.csv',
 '2020-10-03.csv',
 '2020-10-31.csv',
 '2020-12-05.csv',
 '2021-01-02.csv',
 '2021-02-06.csv',
 '2021-03-06.csv',
 '2021-04-03.csv',
 '2021-05-01.csv',
 '2021-06-05.csv',
 '2021-07-03.csv',
 '2021-07-31.csv',
 '2021-09-04.csv']

In [104]:
# Concat the Hot 100 chart of each month
df_b = pd.read_csv(path_b + file_name[0])

for f in file_name[1:]:
    df_b = pd.concat([df_b,
                     pd.read_csv(path_b + f)],
                     ignore_index=True)
df_b

,artist,isNew,last,peak,rank,title,week
0,Adele,False,2,1,1,Set Fire To The Rain,21
1,Rihanna Featuring Calvin Harris,False,1,1,2,We Found Love,18
2,Flo Rida,False,3,3,3,Good Feeling,17
3,David Guetta Featuring Nicki Minaj,False,10,4,4,Turn Me On,8
4,Katy Perry,False,6,3,5,The One That Got Away,15
...,...,...,...,...,...,...,...
11595,Young Thug,True,0,96,96,Tick Tock,1
11596,BTS,False,66,1,97,Permission To Dance,7
11597,Nio Garcia X J Balvin X Bad Bunny,False,85,41,98,AM,9
11598,Rod Wave,True,0,99,99,Time Heals,1
11599,Dustin Lynch Featuring Lauren Alaina Or MacKen...,False,91,91,100,Thinking 'Bout You,2

In [105]:
# Add chart date for further reference 
## (i.e. if we want to denote songs ever featured top 20 as hit, chart date matters)
date = []
for i in file_name:
    date += [i[:-4]] *100

df_b['date'] = date
df_b

,artist,isNew,last,peak,rank,title,week,date
0,Adele,False,2,1,1,Set Fire To The Rain,21,2012-02-04
1,Rihanna Featuring Calvin Harris,False,1,1,2,We Found Love,18,2012-02-04
2,Flo Rida,False,3,3,3,Good Feeling,17,2012-02-04
3,David Guetta Featuring Nicki Minaj,False,10,4,4,Turn Me On,8,2012-02-04
4,Katy Perry,False,6,3,5,The One That Got Away,15,2012-02-04
...,...,...,...,...,...,...,...,...
11595,Young Thug,True,0,96,96,Tick Tock,1,2021-09-04
11596,BTS,False,66,1,97,Permission To Dance,7,2021-09-04
11597,Nio Garcia X J Balvin X Bad Bunny,False,85,41,98,AM,9,2021-09-04
11598,Rod Wave,True,0,99,99,Time Heals,1,2021-09-04
11599,Dustin Lynch Featuring Lauren Alaina Or MacKen...,False,91,91,100,Thinking 'Bout You,2,2021-09-04

In [120]:
hit_songs = df_b.drop_duplicates(subset=['title','artist'])[['title', 'artist']]
hit_songs['hit'] = [1]*len(hit_songs)
hit_songs

,title,artist,hit
0,Set Fire To The Rain,Adele,1
1,We Found Love,Rihanna Featuring Calvin Harris,1
2,Good Feeling,Flo Rida,1
3,Turn Me On,David Guetta Featuring Nicki Minaj,1
4,The One That Got Away,Katy Perry,1
...,...,...,...
11593,Demon Time,Trippie Redd Featuring Ski Mask The Slump God,1
11594,Knowing You,Kenny Chesney,1
11595,Tick Tock,Young Thug,1
11598,Time Heals,Rod Wave,1
11599,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,1

In [122]:
#hit_songs.to_csv('hit_songs_2012_20210925.csv', index=False)

## Label hit songs

In [292]:
song_release = df_sf.copy()

len(song_release.loc[song_release['title'].isin(hit_songs['title']),:]) <= len(hit_songs)

False

Songs with the same name of the hits are also selected, and need to check the corresponding artist.

In [293]:
# First merge on title regardless artist
merge_data = song_release.merge(hit_songs, how='left', on='title')
merge_data

                                 title          artist_x       artist_y  hit
0             (I Called Her) Tennessee        Tim Dugger            NaN  NaN
1      10,000 Reasons (Bless the Lord)       Matt Redman            NaN  NaN
2                            100 Proof    Kellie Pickler            NaN  NaN
3                                  101       Alicia Keys            NaN  NaN
4                                 110%       Jessie Ware            NaN  NaN
...                                ...               ...            ...  ...
20728                  You're To Blame       Mammoth WVH            NaN  NaN
20729       Young, Black And Beautiful      Chris Pierce            NaN  NaN
20730                       Younger Me  Brothers Osborne            NaN  NaN
20731                       Your Power     Billie Eilish  Billie Eilish  1.0
20732                    Zitti E Buoni          Måneskin            NaN  NaN

[20733 rows x 4 columns]

In [294]:
# Check artist
check = merge_data.loc[
    (merge_data['hit'].notnull()) & 
    (merge_data['artist_x']!=merge_data['artist_y']),:]

check

,title,artist_x,artist_y,hit
9,2 Reasons,Trey Songz,Trey Songz Featuring T.I.,1.0
10,21,Delilah,Polo G,1.0
62,Afterglow,Black Country Communion,Ed Sheeran,1.0
73,All Around The World,Justin Bieber,Justin Bieber Featuring Ludacris,1.0
77,All In,Flying Lotus,Lil Baby,1.0
...,...,...,...,...
20711,Working,Khalid,Tate McRae X Khalid,1.0
20718,You,Regard,Chris Young,1.0
20719,You,Regard,Jacquees,1.0
20720,You,Regard,Regard x Troye Sivan x Tate McRae,1.0
20726,You Right,Doja Cat,Doja Cat & The Weeknd,1.0

Part of the differences between artist_x and artist_y is due to featuring and collab.

And the song_release data also does not include some of the songs featured on Billboard Hot 100.

In [295]:
# Get hit songs that include collab and featuring
collab = check.loc[check.apply(lambda x: x.artist_x in x.artist_y, axis=1),:]

# Denote these songs collab - 1
merge_data['collab'] = np.zeros(len(merge_data))
merge_data.iloc[collab.index.values, 4] = 1

In [296]:
# Get songs with duplicate names but not hit songs
dup1 = check.loc[check.apply(lambda x: x.artist_x not in x.artist_y, axis=1),:]

# Get the corresponding index in merge_data
dup1_idx = dup1.index.values

# First unify artist_x and artist_y for drop purpose
merge_data.iloc[dup1_idx, 2] = merge_data.iloc[dup1_idx, 1]

# Denote hit as 0
merge_data.iloc[dup1_idx, 3] = 0

Still have duplicated hit songs due to rename artist_y in merge process.

In [297]:
# Select songs of which artist is consistent
dup2 = merge_data.loc[
    (merge_data['hit'].notnull()) & 
    (merge_data['artist_x']==merge_data['artist_y']),:]

dup2

                        title        artist_x        artist_y  hit  collab
7                        1994    Jason Aldean    Jason Aldean  1.0     0.0
10                         21         Delilah         Delilah  0.0     0.0
11                         22    Taylor Swift    Taylor Swift  1.0     0.0
25                    5-1-5-0  Dierks Bentley  Dierks Bentley  1.0     0.0
27     50 Ways To Say Goodbye           Train           Train  1.0     0.0
...                       ...             ...             ...  ...     ...
20710                   Woman        Doja Cat        Doja Cat  1.0     0.0
20717                Yonaguni       Bad Bunny       Bad Bunny  1.0     0.0
20718                     You          Regard          Regard  0.0     0.0
20719                     You          Regard          Regard  0.0     0.0
20731              Your Power   Billie Eilish   Billie Eilish  1.0     0.0

[3356 rows x 5 columns]

We see Woman by Doja Cat has duplicated values because Woman by other artist is also a hit but not included in the song_release dataset. But 21 by Delilah is unique.

In [298]:
# Get the corresponding index in merge_data
dup2_idx = dup2[dup2.duplicated(['title','artist_x','artist_y'], keep=False)].index.values

# Unify hit as 1 in merge_data because ever has artist_x == artist_y it is a hit song
merge_data.iloc[dup2_idx, 3] = 1

In [299]:
# Drop duplicates in merge_data
merge_data = merge_data.drop_duplicates()

In [300]:
len(merge_data) == len(song_release)

False

Due to the name change in the first step of getting rid of the duplicates, there is still a type of duplicates among featuring and collab songs.

In [301]:
merge_data.loc[merge_data['title']=='Wolves']

        title       artist_x                        artist_y  hit  collab
11292  Wolves     Kanye West                      Kanye West  1.0     0.0
11294  Wolves  One Direction                   One Direction  1.0     0.0
15576  Wolves   Selena Gomez       Selena Gomez X Marshmello  1.0     1.0
15577  Wolves   Selena Gomez                    Selena Gomez  0.0     0.0
18692  Wolves   Ryan Bingham                    Ryan Bingham  1.0     0.0
20006  Wolves       Big Sean                        Big Sean  0.0     0.0
20007  Wolves       Big Sean  Big Sean Featuring Post Malone  1.0     1.0
20707  Wolves        Garbage                         Garbage  1.0     0.0

Wolves by Selena Gomez and Big Sean are both hit songs of collaborations. In the merge process, Selena - Big Sean and Big - Sean would appear. As a result, names will be unified according to artist_x and hit will become 0. Therefore, we need to keep those artist_x (single artist) differs from artist_y (multi-artist).

In [302]:
dup3_idx = merge_data[
    merge_data.duplicated(subset=['title','artist_x'],keep=False) &
    (merge_data['artist_x']==merge_data['artist_y'])].index.values

merge_data = merge_data.loc[[i for i in merge_data.index if i not in dup3_idx]]

In [305]:
# Denote other non-hit songs as hit -0
merge_data.loc[merge_data['hit'].isnull(),'hit'] = 0
merge_data

,title,artist_x,artist_y,hit,collab
0,(I Called Her) Tennessee,Tim Dugger,NaN,0.0,0.0
1,"10,000 Reasons (Bless the Lord)",Matt Redman,NaN,0.0,0.0
2,100 Proof,Kellie Pickler,NaN,0.0,0.0
3,101,Alicia Keys,NaN,0.0,0.0
4,110%,Jessie Ware,NaN,0.0,0.0
...,...,...,...,...,...
20728,You're To Blame,Mammoth WVH,NaN,0.0,0.0
20729,"Young, Black And Beautiful",Chris Pierce,NaN,0.0,0.0
20730,Younger Me,Brothers Osborne,NaN,0.0,0.0
20731,Your Power,Billie Eilish,Billie Eilish,1.0,0.0
20732,Zitti E Buoni,Måneskin,NaN,0.0,0.0

In [306]:
#merge_data.to_csv('merge_data_20210925.csv', index=False)

## Add additional songs from Billboard data

In the merging process, it can be easily observed that some songs are not included in the song_release data but in the billboard hit_song data. To make the merged data moer diverse, we might consider add those songs to merge_data.

In [308]:
merge_data.value_counts('hit')

hit
0.0    17694
1.0     2343
dtype: int64

In [313]:
import re

In [331]:
hit_songs_copy = hit_songs.copy()

artx = []

for i in hit_songs_copy['artist']:
    
    artx.append(re.split(' Featuring | X | x | & ', i)[0])
    
hit_songs_copy['artist_x'] = artx

hit_songs_copy['collab'] = np.zeros(len(hit_songs_copy))

hit_songs_copy.loc[hit_songs_copy['artist']!=hit_songs_copy['artist_x'], 'collab'] = 1

hit_songs_copy = hit_songs_copy.rename(columns={'artist':'artist_y'})
hit_songs_copy = hit_songs_copy[['title','artist_x','artist_y','hit','collab']]

hit_songs_copy

,title,artist_x,artist_y,hit,collab
0,Set Fire To The Rain,Adele,Adele,1,0.0
1,We Found Love,Rihanna,Rihanna Featuring Calvin Harris,1,1.0
2,Good Feeling,Flo Rida,Flo Rida,1,0.0
3,Turn Me On,David Guetta,David Guetta Featuring Nicki Minaj,1,1.0
4,The One That Got Away,Katy Perry,Katy Perry,1,0.0
...,...,...,...,...,...
11593,Demon Time,Trippie Redd,Trippie Redd Featuring Ski Mask The Slump God,1,1.0
11594,Knowing You,Kenny Chesney,Kenny Chesney,1,0.0
11595,Tick Tock,Young Thug,Young Thug,1,0.0
11598,Time Heals,Rod Wave,Rod Wave,1,0.0
11599,Thinking 'Bout You,Dustin Lynch,Dustin Lynch Featuring Lauren Alaina Or MacKen...,1,1.0

In [332]:
merge_final = merge_data.copy()

merge_final = pd.concat([merge_final, hit_songs_copy])

merge_final

,title,artist_x,artist_y,hit,collab
0,(I Called Her) Tennessee,Tim Dugger,NaN,0.0,0.0
1,"10,000 Reasons (Bless the Lord)",Matt Redman,NaN,0.0,0.0
2,100 Proof,Kellie Pickler,NaN,0.0,0.0
3,101,Alicia Keys,NaN,0.0,0.0
4,110%,Jessie Ware,NaN,0.0,0.0
...,...,...,...,...,...
11593,Demon Time,Trippie Redd,Trippie Redd Featuring Ski Mask The Slump God,1.0,1.0
11594,Knowing You,Kenny Chesney,Kenny Chesney,1.0,0.0
11595,Tick Tock,Young Thug,Young Thug,1.0,0.0
11598,Time Heals,Rod Wave,Rod Wave,1.0,0.0
11599,Thinking 'Bout You,Dustin Lynch,Dustin Lynch Featuring Lauren Alaina Or MacKen...,1.0,1.0

In [338]:
merge_final = merge_final.drop_duplicates(subset=['title','artist_x'])
merge_final

,title,artist_x,artist_y,hit,collab
0,(I Called Her) Tennessee,Tim Dugger,NaN,0.0,0.0
1,"10,000 Reasons (Bless the Lord)",Matt Redman,NaN,0.0,0.0
2,100 Proof,Kellie Pickler,NaN,0.0,0.0
3,101,Alicia Keys,NaN,0.0,0.0
4,110%,Jessie Ware,NaN,0.0,0.0
...,...,...,...,...,...
11591,Danny Phantom,Trippie Redd,Trippie Redd Featuring XXXTENTACION,1.0,1.0
11592,What's Wrong,Rod Wave,Rod Wave,1.0,0.0
11593,Demon Time,Trippie Redd,Trippie Redd Featuring Ski Mask The Slump God,1.0,1.0
11595,Tick Tock,Young Thug,Young Thug,1.0,0.0
11598,Time Heals,Rod Wave,Rod Wave,1.0,0.0

In [339]:
#merge_final.to_csv('merge_add_hit_20210925.csv', index=False)